<template>
  <Page class="page">
    <ActionBar title="Список задач" class="action-bar" />

    <TabView
      height="100%"
      android-tabs-position="bottom"
      selected-tab-text-color="white"
      tabTextColor="white"
      tabBackgroundColor="#46529c"
      tab-text-font-size="15"
    >
      <TabViewItem title="В процессе" text-transform="uppercase">
        <StackLayout
          orientation="vertical"
          width="100%"
          height="100%"
        >
          <GridLayout
            columns="2*,*"
            rows="*"
            width="100%"
            height="25%"
          >
            <TextField
              v-model="textFieldValue"
              col="0"
              row="0"
              hint="Введите задачу"
              textFieldBackgroundColor="#ffffff"
              editable="true"
              @returnPress="onButtonTap"
            />
            <Button
              col="1"
              row="0"
              text="+"
              @tap="onButtonTap"
            />
          </GridLayout>

          <ListView
            class="list-group"
            for="todo in todos"
            style="height:75%"
            separator-color="transparent"
            @itemTap="onItemTap"
          >
            <v-template>
              <Label
                id="active-task"
                :text="todo.name"
                class="list-group-item-heading"
                text-wrap="true"
              />
            </v-template>
          </ListView>
        </StackLayout>
      </TabViewItem>

      <TabViewItem title="Выполненные" text-transform="uppercase">
        <ListView
          class="list-group"
          for="done in dones"
          style="height:75%"
          separator-color="transparent"
          @itemTap="onDoneTap"
        >
          <v-template>
            <Label
              id="completed-task"
              :text="done.name"
              class="list-group-item-heading"
              text-wrap="true"
            />
          </v-template>
        </ListView>
      </TabViewItem>
    </TabView>
  </Page>
</template>
<script>
import {addTask, showTask}  from '@/storage.js';
export default {
  data() {
    return {
      dones: [],
      todos: [],
      textFieldValue: '',
    };
  },
    created(){
      this.todos = showTask('todos');
      this.dones = showTask('dones');
    },
  methods: {
    onItemTap(args) {


      action('Что вы хотите сделать с задачей', 'Отмена', [
        'Выполнить',
        'Удалить',
      ]).then(result => {
        switch (result) {
          case 'Выполнить':
            this.dones.unshift(args.item); 
            this.todos.splice(args.index, 1);
            break;
          case 'Удалить':
            this.todos.splice(args.index, 1);
            break;
          case 'Отмена' || undefined:
            break;
        }
        addTask('todos', this.todos);
        addTask('dones', this.dones);
      });
    },
    onDoneTap: function(args) {
      action('Что вы хотите сделать с задачей?', 'Отмена', [
        'Вернуть',
        'Удалить',
      ]).then(result => {
        switch (result) {
          case 'Вернуть':
            this.todos.unshift(args.item);
            this.dones.splice(args.index, 1);
            break;
          case 'Удалить':
            this.dones.splice(args.index, 1);
            break;
          case 'Отмена' || undefined:
            break;
        }
        addTask('todos', this.todos);
        addTask('dones', this.dones);
      });
    },
    onButtonTap() {
      if (!this.textFieldValue) {
        return;
      }

      console.log(`New task added: ${this.textFieldValue}.`);
      this.todos.unshift({
        name: this.textFieldValue,
      });

      addTask('todos', this.todos);
      this.textFieldValue = '';
    },
  },
};
</script>

<style scoped>
TextField {
  font-size: 20;
  color: #ffffff;
  margin-top: 10;
  margin-bottom: 10;
  margin-right: 5;
  margin-left: 20;
  height: 60;
  placeholder-color:rgb(212, 212, 212);
}
.action-bar{
  background-color:#46529c ;
  color: white;
}
button {
  font-size: 40px;
  color: white;
  background-color: #2ebaef;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
#active-task {
  font-size: 20;
  color: #ffffff;
  margin-left: 20;
  padding-top: 5;
  padding-bottom: 10;
}
#completed-task {
  font-size: 20;
  color: #fafafa;
  margin-left: 20;
  padding-top: 5;
  padding-bottom: 10;
}
.table{
  background-color:#46529c ;
  color: white;
}
.page{
  background-color:#46529c ;
}
</style>